<!DOCTYPE HTML>
<html>
<head>
	<title>maps</title>
	<link rel="stylesheet" type="text/css" href="../static/Hi11/styles.css">
</head>

<body>
	<button id="button" class="btn btn-md btn-warning" onclick="getLocation()">Try It</button> 
	<div id="map-canvas"></div>

	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4WEH0iIQynkn_7GNV9DJdLu5bqakKn-8"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="../static/Hi11/test.js"></script>
</body>
</html>