body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
#devs {
  text-indent=50px;
}
.app {
	text-align: center;
	padding-bottom: 40px;
}
footer {
	background-color: black;
	text-align: center;
	color: gray;
	padding-bottom: 10px;
}